%header
  %h1.header-title LINE 受信メッセージ
  %button.header-btn 既読も含めて表示
%section.main
  .container
    .first-box
      %p 2021/01/02
      %p LINEIDofhaajdknnkkkaiglsna
      %p 山田　のぞみ
      %p 山田のぞみの母です。宜しくお願い致します。
      %button.link-btn 生徒と紐付け
      %button.hide-btn 既読にする（非表示）
    .second-box
      %p 2021/01/02
      %p LINEIDofhaajdknnkkkaiglsna
      %p 山田　のぞみ
      %p 山田のぞみの母です。宜しくお願い致します。
      %button.link-btn 生徒と紐付け
      %button.hide-btn 既読にする（非表示）
