.ios_wrapper{
  background-color: #fff;
}

.ios-header {
  height: 100px;
}

.header-items{
  display: flex;
  justify-content:space-between;
}

#ios_student_name{
  font-size: 24px;
}
#ios_time{
  font-size: 24px;
  margin-top: 40px;
}
.container {
  width: 90%;
  height: 100vh;
  margin: auto;
}
​
.ios_button{
  width: 100%;
  height: 150px;
  font-size: 56px;
  letter-spacing: 0.2em;
  border-top: none;
  border-bottom:none ;
}

#ios_enter{
  width: 100%;
  height: 150px;
  font-size: 56px;
  letter-spacing: 0.2em;
  border-top: none;
  border-bottom:none ;
  margin: 40px 0 0 0;
  border-left: solid 20px #f1322c;
  border-right: solid 20px #f1322c;
  color: #f1322c;
  background:#f5cecc;
}
#ios_enter:hover{
  opacity: 0.8;
  cursor: pointer;
}

#ios_exit {
  width: 100%;
  height: 150px;
  font-size: 56px;
  letter-spacing: 0.2em;
  border-top: none;
  border-bottom:none ;
  margin: 45px 0 0 0;
  border-left: solid 20px #3f63c7;
  border-right: solid 20px #3f63c7;
  color: #3f63c7;
  background:#b2dcf0;
}
#ios_exit:hover{
  border-bottom: none;
  opacity: 0.8;
  cursor: pointer;
}

#ios_cancel{
  width: 100%;
  height: 150px;
  font-size: 56px;
  letter-spacing: 0.2em;
  border-top: none;
  border-bottom:none ;
  margin: 45px 0 45px 0;
  padding: 0;
  text-decoration: none;
  color: #555454;
  background: #fff;
  border: 1px solid #555454;
  border-radius: 20px;
  line-height: 150px;
}
#ios_cancel:hover{
  background: #555454;
  color:#fff;
  cursor: pointer;
  text-decoration: none;
}
#ios_student_id{
  width: 160px;
  height:30px;
  margin-top: 40px;
}