
@charset "utf-8";
body {
  background-color: #757F95;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  padding-top: 20px;
  border-bottom: 2px solid #7DB0C9;
  height: 70px;
  background-color:#F8FAF9;
}
.header-title {
  font-size: 36px;
  color: #282D65;
  text-align: center;
}

.box {
  width: 700px;
  height: 350px;
  padding: 40px 20px 20px 20px;
  margin:140px auto;
  background-color: #F8FAF9;
  box-shadow: 2px 2px 4px gray;
}
form {
  margin: 20px;
}
.lineid,.parentsname,.studentsname {
  font-size: 24px;
  color:#282D65;
}
.lineid {
  margin:0 30px 30px 0;
}
.parentsname {
  margin:20px 5px 20px 0;
}
.studentsname {
  margin: 20px 29px 20px 0;
}
.register-form {
  width: 180px;
  display: inline-block;
}
.register-btn {
  display: inline-block;
  width: 180px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #264079;
  outline: none;
  color: #ffffff;
  background-color: #282D65;
  border-radius: 5px;
}
.register-btn:hover {
  opacity: 0.9;
  border-bottom: none;
  cursor: pointer;
}
.cansel-btn {
  display: inline-block;
  width: 180px;
  height: 50px;
  margin-left: 80px;
  font-size: 16px;
  border: none;
  outline: none;
  text-decoration: none;
	color: #555454;
	background: #F8FAF9;
  border: 1px solid #555454;
  border-radius: 5px;
}
.cansel-btn:hover {
  background: #555454;
  color: #F8FAF9;
  cursor: pointer;
  text-decoration: none;
}